body{
    background-color: blueviolet;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    color: white;
}

button{
    display: block;
    margin: auto;
    border-radius: 25px;
    
}

a{
    text-decoration: none;
    
}

.search-bar{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}

.instructions{
    padding: 16px;
    border: 1px solid grey;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: darkmagenta
}

.search-button{
    margin-left: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    width: 150px;
    font-size: 16px;
    
}

.name-form{
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    border: 3px solid purple;
    box-shadow: 0px 5px 60px;
}

.select-form{
        border-radius: 10px;
        width: 500px;
        background-color: white;
        
        
}