body{
    background-color: blueviolet;
    color: black;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.search-bar{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    
}